.section--search {
    width: 72%;
    border-radius: 6px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;

    .search__input {
        width: 80%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('../images/search\ \(2\).png');
        background-size: 24px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;

        &:focus {
            box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.9);
            transform: scale(1.05) translateZ(0);
            z-index: 9999999999;
            border: 1px solid #FEBB0B;

        }
    }
}